.logo {
  @include verticalCenter;
  margin: 5px auto;
  width: 50%;
  border-radius: 20px;
  padding: 5px 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  background: url(../../assets/img/main.jpg) center/cover;
  position: relative;

  // overlay blanc semi-transparent
  .overlay {
    content: "";
    position: absolute;
    top: 0;

    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 20px; // pour matcher le parent
    z-index: 0; // derrière le contenu
  }

  img {
    height: 100px;
    position: relative; //nécessaire car overlay absolu
  }
  h3 {
    margin-left: 10px;
    color: $color-1;
    font-size: 2rem;

    position: relative; //nécessaire car overlay absolu
  }
}

@media (max-width: 680px) {
  .logo {
    // width: 90%; // prend presque toute la largeur
    padding: 10px 0;

    img {
      height: 70px; // logo plus petit
    }

    h3 {
      font-size: 1.5rem; // texte plus petit
      margin-left: 5px;
    }
  }
}
